<div id="about" class="container">
  <%= @about.html_safe %>

  <div class="pic-container">
  	<div class="circle-crop">
  		<%= image_tag("headshot.png", :id => "headshot") %>
  	</div>
  </div>
</div>
