<h1 class="title"><%= link_to(project.title, project.url) %></h1>
<p><%= link_to("Source", project.source) if project.source %>
<p><%=project.description%></p>

<% project.tags.each do |tag| %>
	<div class="tag"><%=tag.name%></div>
<% end %>