<div class="container">
	<%= form_for @project do |f| %>
		<%= render "form", { f: f } %>
		<p>
			<%= f.submit "Save Changes", :class=>"submit-button" %>
			<%= link_to("Delete Project", project_path(@project), method: :delete, :class=>"submit-button delete align-right") %>
		</p>
	<% end %>
</div>


