<div class="container">
	<% if logged_in? && @unpublished.length > 0 %>
		<div class="unpublished-container">
    	<%= render @unpublished %>
    </div>
  <% end %>
	<%= render @projects %>
  <% if logged_in? %>
    <br>
		<p><%= link_to("New Project", new_project_path, :class=>"submit-button") %></p>
  <% end %>
</div>



