<div class="container">
	<% if logged_in? %>
		<div class="dashboard-buttons"><%= link_to("New Project", new_project_path) %></div>
		<% if @unpublished.length > 0 %>
			<div class="unpublished-container">
	    	<%= render @unpublished %>
	    </div>
    <% end %>
  <% end %>
	<%= render @projects %>
</div>



