<div class="container">
	<% if logged_in? && @unpublished.length > 0 %>
		<div class="unpublished-container">
    	<%= render @unpublished %>
    </div>
  <% end %>
	<%= render @projects %>
  <% if logged_in? %>
  	<hr>
		<div class="dashboard-buttons"><%= link_to("New Project", new_project_path) %></div>
  <% end %>
</div>



