<div class="index-container">
	<% if logged_in? %>
		<h1 class="title"><%= link_to(post.title, edit_post_path(post) ) %></h1>
	<% else %>
		<h1 class="title"><%= link_to(post.title, post_path(post) ) %></h1>
	<% end %>
	<p><%=post.description%></p>

	<%= render "tags/taggable", taggable: post %>
</div>