<div class="container">
	<%= form_for @post do |f| %>
		<%= render "form", { f: f } %>
		<p>
			<%= f.submit "Save Changes", :class=>"submit-button" %>
			<%= link_to("Delete Post", post_path(@post), method: :delete, :class=>"submit-button delete") %>
		</p>
	<% end %>
</div>