<div class="container">

	<% if logged_in? && @unpublished && @unpublished.length > 0 %>
		<%= render @unpublished %>
	<% end %>

	<%= render @posts %>

  <% if logged_in? %>
    <br>
		<p><%= link_to("New Post", new_post_path, :class=>"submit-button") %></p>
  <% end %>

</div>




