<div class="container">
	<%= render @unpublished if logged_in? && @unpublished.length > 0 %>
	<%= render @posts %>
  <% if logged_in? %>
    <br>
		<p><%= link_to("New Post", new_post_path, :class=>"submit-button") %></p>
  <% end %>
</div>




