// Color palette
$light-beige: #DEE8D7;
$dark-beige: #918773;
$rasberry: #420A1A;
$wine: #240001;
$charcoal: #4C493A;
$red: #991D08;

.footer-container {
	max-width: 800px;
	min-width: 300px;
	margin: 0 auto;
	padding: 0 8% 20px 8%;
	color: $charcoal;
	font-family: 'Armata', sans-serif;
}

#footer {
	position: relative;
	padding: 0 0 20px 0;
	height: 40px;
	vertical-align: top;
}

#footer div {
	position: absolute;
	width: 100%;
	display: inline-block;
	top: 15px;
	white-space: nowrap;
}

#footer nav#social-media-icons img {
	display: inline-block;
	width:35px;
	height:35px;
	margin:5px;
	opacity: 0.8;
}

a#copyright {
	color: $charcoal;
	text-decoration: none;
}

a#copyright:hover {
	cursor: default;
}

a#logout {
	color: $rasberry;
	text-decoration: none;
}

@media screen and (min-width: 500px) {
	#footer nav#social-media-icons {
		position: absolute;
		display: inline-block;
	}
}

@media screen and (max-width: 500px) {
	#footer nav#social-media-icons {
		text-align: center;
	}
	#copyright {
		display: none;
	}  
}

input.password {
	position: absolute;
  bottom: -3px;
 	right: 0;
}



