// Color palette
$light-beige: #DEE8D7;
$dark-beige: #918773;
$rasberry: #420A1A;
$wine: #240001;
$charcoal: #4C493A;
$red: #991D08;

#header {
	// left: 0;
	// right: 0;
	// top: 0;
  // height: 40px;
  // background-color: $wine;
  box-shadow: 2px 2px 5px $dark-beige;
	// position: fixed;
	font-family: 'Cinzel', serif;
	font-size: 20px;
	// padding-top: 10px;
	z-index: 40;
}

// .header-dropdown {
// 	// width: 100%;
// 	div, a {
// 		text-align: center;
// 		padding-left: 0;
// 		padding-right: 0;
// 		width: 100%;
// 	}
// }

#header a {
	z-index: -50;
	color: $dark-beige;
	text-decoration: none;
}

#header a:hover {
	color: $light-beige;
}

#header nav {
	max-width: 800px;
	min-width: 300px;
  margin: 0 auto;
}

#header > nav > a {
	display: inline-block;
  width: 24%;
  // text-align: center;
  white-space: nowrap;
}

.login-error {
	left: 0;
	right: 0;
  height: 140px;
  background-color: $red;
  text-align: center;
  padding-top: 75px;
  color: $light-beige;
  opacity: 0.9;
  font-size: 45px;
  margin-top: 15%;
}

.menu-icon, .top-bar-section {
// 	color: $light-beige;
	z-index: 60;
	cursor: pointer;
	white-space: nowrap;
}

.mobile-links {
  display: block;
  width: 100%;
  border-top: 1px solid $charcoal;
  text-align: center;
  padding: 0.5em;
}

.home-icon {
  background-color: white;
  margin-left: 3%;
  padding: 0.5% 1.7%;
  border-radius: 50%;
}





