// Color palette
$light-beige: #DEE8D7;
$dark-beige: #918773;
$rasberry: #420A1A;
$wine: #240001;
$charcoal: #4C493A;
$red: #991D08;

// Fonts
$body-font: 'Armata', sans-serif;
$header-font: 'Cinzel', serif;

.pagination {
  text-align: center;
  padding: 20px;

  a {
    text-decoration: none;
  }

  a:hover, a:focus {
    color: $red;
    font-style: bold;
  }

  a, span, em {
    width: 20px;
    padding: 10px; 
    color: $charcoal;
  }

  .current {
    font-style: normal;
    background-color: black;
    opacity: 0.8;
    color: white;
    display: inline-block;
    border-radius: 50%;
  }
  .disabled {
    display: none;
  }

}
















