// Color palette
$light-beige: #DEE8D7;
$dark-beige: #918773;
$rasberry: #420A1A;
$wine: #240001;
$charcoal: #4C493A;
$red: #991D08;

a.source {
	font-weight: bold;
	color: $red;
	text-decoration: none;
	font-size: 14px;
}

a.source:hover {
	color: black;
}

h1.project {
	display: inline-block;
}

@media screen and (min-width: 600px) {
	div.source-container {
		vertical-align: top;
		display: inline-block;
		padding-left: 20px;
		padding-top: 32px;
	}  
}

@media screen and (max-width: 600px) {
	div.source-container {
		padding-top: 10px;
		display: block;
	}  
}
