// Color palette
$light-beige: #DEE8D7;
$dark-beige: #918773;
$rasberry: #420A1A;
$wine: #240001;
$charcoal: #4C493A;

.round {
	border-radius: 5px;
}

.container {
	max-width: 800px;
	min-width: 300px;
	margin: 0 auto;
	padding: 50px 8%;
	color: $charcoal;
	font-family: 'Armata', sans-serif;
}

a {
	font-weight: bold;
	color: #991D08;
	text-decoration: none;
}

a:hover {
	color: black;
}




